* {
  font-family: "Source Sans Pro", sans-serif;
}

.fade-in {
  animation: fade 2s;
}

nav {
  display: none;
}

@keyframes fade {
  from {
    opacity: 30%;
  }
  to {
    opacity: 100%;
  }
  from {
    margin-top: -1rem;
  }
  to {
    margin-top: 2rem;
  }
}

@-moz-keyframes fade {
  from {
    opacity: 30%;
  }
  to {
    opacity: 100%;
  }
  from {
    margin-top: -1rem;
  }
  to {
    margin-top: 2rem;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 30%;
  }
  to {
    opacity: 100%;
  }
  from {
    margin-top: -1rem;
  }
  to {
    margin-top: 2rem;
  }
}

@-o-keyframes fade {
  from {
    opacity: 30%;
  }
  to {
    opacity: 100%;
  }
  from {
    margin-top: -1rem;
  }
  to {
    margin-top: 2rem;
  }
}

@-ms-keyframes fade {
  from {
    opacity: 30%;
  }
  to {
    opacity: 100%;
  }
  from {
    margin-top: -1rem;
  }
  to {
    margin-top: 2rem;
  }
}

@keyframes fadein {
  from {
    opacity: 30%;
  }
  to {
    opacity: 100%;
  }
  from {
    margin-top: 4rem;
  }
  to {
    margin-top: 5rem;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 30%;
  }
  to {
    opacity: 100%;
  }
  from {
    margin-top: 4rem;
  }
  to {
    margin-top: 5rem;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 30%;
  }
  to {
    opacity: 100%;
  }
  from {
    margin-top: 4rem;
  }
  to {
    margin-top: 5rem;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 30%;
  }
  to {
    opacity: 100%;
  }
  from {
    margin-top: 4rem;
  }
  to {
    margin-top: 5rem;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 30%;
  }
  to {
    opacity: 100%;
  }
  from {
    margin-top: 4rem;
  }
  to {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-family: "Roboto Mono", monospace;
    width: 100%;
  }

  .top {
    height: 30rem;
    background-image: url("../images/austin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: visible;
    text-align: center;
    box-shadow: grey 0px 10px 30px;
  }

  .partial {
    width: 100%;
    text-align: center;
  }

  .greeting {
    color: white;
    font-family: "Chelsea Market", cursive;
    margin-top: 5rem;
    animation: fadein 2s;
  }

  .greet-head {
    font-size: 5rem;
  }

  .greet-tail {
    font-size: 4rem;
  }

  nav {
    opacity: 0%;
  }

  .content-block {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    min-height: 23rem;
  }

  .contact-block {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 22rem;
  }

  .social {
    height: 4rem;
    margin-right: 2rem;
    transition: opacity 0.5s, margin-top 0.5s;
  }

  .social:hover {
    opacity: 30%;
    margin-top: -0.5rem;
  }

  .socials {
    height: 7rem;
  }

  .img-left {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-right: 5rem;
    display: none;
  }

  .img-right {
    height: 15rem;
    box-shadow: grey 5px 5px;
  }

  .img-small {
    height: 15rem;
    box-shadow: grey 10px 10px;
  }

  .school {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 500px) {
  .header {
    font-family: "Roboto Mono", monospace;
    width: 100%;
  }

  .top {
    height: 30rem;
    background-image: url("../images/austin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: visible;
    text-align: center;
    box-shadow: grey 0px 10px 30px;
  }

  .partial {
    width: 100%;
    text-align: center;
  }

  .greeting {
    color: white;
    font-family: "Chelsea Market", cursive;
    margin-top: 5rem;
    animation: fadein 2s;
  }

  .greet-head {
    font-size: 7rem;
  }

  .greet-tail {
    font-size: 4rem;
  }

  nav {
    opacity: 0%;
  }

  .content-block {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    min-height: 23rem;
  }

  .contact-block {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 12rem;
  }

  .social {
    height: 4rem;
    margin-right: 2rem;
    transition: opacity 0.5s, margin-top 0.5s;
  }

  .social:hover {
    opacity: 30%;
    margin-top: -0.5rem;
  }

  .socials {
    height: 7rem;
  }

  .img-left {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-right: 5rem;
    display: none;
  }

  .img-right {
    height: 15rem;
    box-shadow: grey 5px 5px;
  }

  .img-small {
    height: 15rem;
    box-shadow: grey 10px 10px;
  }

  .school {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 700px) {
  .header {
    font-family: "Roboto Mono", monospace;
    width: 100%;
  }

  .top {
    height: 30rem;
    background-image: url("../images/austin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: visible;
    text-align: center;
    box-shadow: grey 0px 10px 30px;
  }

  .partial {
    width: 100%;
    text-align: center;
  }

  .greeting {
    color: white;
    font-family: "Chelsea Market", cursive;
    margin-top: 5rem;
    animation: fadein 2s;
  }

  .greet-head {
    font-size: 7rem;
  }

  .greet-tail {
    font-size: 4rem;
  }

  nav {
    opacity: 0%;
  }

  .content-block {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    /* display: flex; */
    min-height: 23rem;
  }

  .contact-block {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 12rem;
  }

  .social {
    height: 4rem;
    margin-right: 2rem;
    transition: opacity 0.5s, margin-top 0.5s;
  }

  .social:hover {
    opacity: 30%;
    margin-top: -0.5rem;
  }

  .socials {
    height: 7rem;
  }

  .img-left {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-right: 5rem;
    display: none;
  }

  .img-right {
    height: 15rem;
    box-shadow: grey 5px 5px;
  }

  .img-small {
    height: 15rem;
    box-shadow: grey 10px 10px;
  }

  .school {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .header {
    font-family: "Roboto Mono", monospace;
    width: 100%;
  }

  .top {
    height: 30rem;
    background-image: url("../images/austin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: visible;
    text-align: center;
    box-shadow: grey 0px 10px 30px;
  }

  .partial {
    width: 50%;
    text-align: center;
  }

  .greeting {
    color: white;
    font-family: "Chelsea Market", cursive;
    margin-top: 5rem;
    animation: fadein 2s;
  }

  .greet-head {
    font-size: 7rem;
  }

  .greet-tail {
    font-size: 4rem;
  }

  nav {
    opacity: 0%;
  }

  .img-small {
    display: none;
  }

  .content-block {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 23rem;
  }

  .contact-block {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 12rem;
  }

  .social {
    height: 4rem;
    margin-right: 2rem;
    transition: opacity 0.5s, margin-top 0.5s;
  }

  .social:hover {
    opacity: 30%;
    margin-top: -0.5rem;
  }

  .socials {
    height: 3rem;
  }

  .img-left {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-right: 5rem;
    transition: margin-top 0.5s;
    display: block;
  }

  .img-right {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-left: 5rem;
    transition: margin-top 0.5s;
  }

  .img-left:hover {
    margin-top: -0.5rem;
  }

  .img-right:hover {
    margin-top: -0.5rem;
  }

  .school {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    font-family: "Roboto Mono", monospace;
    width: 100%;
  }

  .img-small {
    display: none;
  }

  .top {
    height: 30rem;
    background-image: url("../images/austin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: visible;
    text-align: center;
    box-shadow: grey 0px 10px 30px;
  }

  .partial {
    width: 50%;
    text-align: center;
  }

  .greeting {
    color: white;
    font-family: "Chelsea Market", cursive;
    margin-top: 5rem;
    animation: fadein 2s;
  }

  .greet-head {
    font-size: 7rem;
  }

  .greet-tail {
    font-size: 4rem;
  }

  nav {
    opacity: 0%;
  }

  .content-block {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 23rem;
  }

  .contact-block {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 12rem;
  }

  .social {
    height: 4rem;
    margin-right: 2rem;
    transition: opacity 0.5s, margin-top 0.5s;
  }

  .social:hover {
    opacity: 30%;
    margin-top: -0.5rem;
  }

  .socials {
    height: 3rem;
  }

  .img-left {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-right: 5rem;
    transition: margin-top 0.5s;
    display: block;
  }

  .img-right {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-left: 5rem;
    transition: margin-top 0.5s;
  }

  .img-left:hover {
    margin-top: -0.5rem;
  }

  .img-right:hover {
    margin-top: -0.5rem;
  }

  .school {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1400px) {
  .header {
    font-family: "Roboto Mono", monospace;
    width: 100%;
  }

  .img-small {
    display: none;
  }

  .top {
    height: 30rem;
    background-image: url("../images/austin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: visible;
    text-align: center;
    box-shadow: grey 0px 10px 30px;
  }

  .partial {
    width: 50%;
    text-align: center;
  }

  .greeting {
    color: white;
    font-family: "Chelsea Market", cursive;
    margin-top: 5rem;
    animation: fadein 2s;
  }

  .greet-head {
    font-size: 7rem;
  }

  .greet-tail {
    font-size: 4rem;
  }

  nav {
    opacity: 0%;
  }

  .content-block {
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 23rem;
  }

  .contact-block {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 12rem;
  }

  .social {
    height: 4rem;
    margin-right: 2rem;
    transition: opacity 0.5s, margin-top 0.5s;
  }

  .social:hover {
    opacity: 30%;
    margin-top: -0.5rem;
  }

  .socials {
    height: 3rem;
  }

  .img-left {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-right: 5rem;
    transition: margin-top 0.5s;
    display: block;
  }

  .img-right {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-left: 5rem;
    transition: margin-top 0.5s;
  }

  .img-left:hover {
    margin-top: -0.5rem;
  }

  .img-right:hover {
    margin-top: -0.5rem;
  }

  .school {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    font-family: "Roboto Mono", monospace;
    width: 100%;
  }

  .img-small {
    display: none;
  }

  .top {
    height: 30rem;
    background-image: url("../images/austin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: visible;
    text-align: center;
    box-shadow: grey 0px 10px 30px;
  }

  .partial {
    width: 50%;
    text-align: center;
  }

  .greeting {
    color: white;
    font-family: "Chelsea Market", cursive;
    margin-top: 5rem;
    animation: fadein 2s;
  }

  .greet-head {
    font-size: 7rem;
  }

  .greet-tail {
    font-size: 4rem;
  }

  nav {
    opacity: 0%;
  }

  .content-block {
    margin-left: 22rem;
    margin-right: 22rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 23rem;
  }

  .contact-block {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 12rem;
  }

  .social {
    height: 4rem;
    margin-right: 2rem;
    transition: opacity 0.5s, margin-top 0.5s;
  }

  .social:hover {
    opacity: 30%;
    margin-top: -0.5rem;
  }

  .socials {
    height: 3rem;
  }

  .img-left {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-right: 5rem;
    transition: margin-top 0.5s;
    display: block;
  }

  .img-right {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-left: 5rem;
    transition: margin-top 0.5s;
  }

  .img-left:hover {
    margin-top: -0.5rem;
  }

  .img-right:hover {
    margin-top: -0.5rem;
  }

  .school {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1800px) {
  .header {
    font-family: "Roboto Mono", monospace;
    width: 100%;
  }

  .img-small {
    display: none;
  }

  .top {
    height: 30rem;
    background-image: url("../images/austin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: visible;
    text-align: center;
    box-shadow: grey 0px 10px 30px;
  }

  .partial {
    width: 50%;
    text-align: center;
  }

  .greeting {
    color: white;
    font-family: "Chelsea Market", cursive;
    margin-top: 5rem;
    animation: fadein 2s;
  }

  .greet-head {
    font-size: 7rem;
  }

  .greet-tail {
    font-size: 4rem;
  }

  nav {
    opacity: 0%;
  }

  .content-block {
    margin-left: 28rem;
    margin-right: 28rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 23rem;
  }

  .contact-block {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 12rem;
  }

  .social {
    height: 4rem;
    margin-right: 2rem;
    transition: opacity 0.5s, margin-top 0.5s;
  }

  .social:hover {
    opacity: 30%;
    margin-top: -0.5rem;
  }

  .socials {
    height: 3rem;
  }

  .img-left {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-right: 5rem;
    transition: margin-top 0.5s;
    display: block;
  }

  .img-right {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-left: 5rem;
    transition: margin-top 0.5s;
  }

  .img-left:hover {
    margin-top: -0.5rem;
  }

  .img-right:hover {
    margin-top: -0.5rem;
  }

  .school {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 2000px) {
  .header {
    font-family: "Roboto Mono", monospace;
    width: 100%;
  }

  .img-small {
    display: none;
  }

  .top {
    height: 30rem;
    background-image: url("../images/austin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: visible;
    text-align: center;
    box-shadow: grey 0px 10px 30px;
  }

  .partial {
    width: 50%;
    text-align: center;
  }

  .greeting {
    color: white;
    font-family: "Chelsea Market", cursive;
    margin-top: 5rem;
    animation: fadein 2s;
  }

  .greet-head {
    font-size: 7rem;
  }

  .greet-tail {
    font-size: 4rem;
  }

  nav {
    opacity: 0%;
  }

  .content-block {
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 23rem;
  }

  .contact-block {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 12rem;
  }

  .social {
    height: 4rem;
    margin-right: 2rem;
    transition: opacity 0.5s, margin-top 0.5s;
  }

  .social:hover {
    opacity: 30%;
    margin-top: -0.5rem;
  }

  .socials {
    height: 3rem;
  }

  .img-left {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-right: 5rem;
    transition: margin-top 0.5s;
    display: block;
  }

  .img-right {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-left: 5rem;
    transition: margin-top 0.5s;
  }

  .img-left:hover {
    margin-top: -0.5rem;
  }

  .img-right:hover {
    margin-top: -0.5rem;
  }

  .school {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 2100px) {
  .header {
    font-family: "Roboto Mono", monospace;
    width: 100%;
  }

  .img-small {
    display: none;
  }

  .top {
    height: 30rem;
    background-image: url("../images/austin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: visible;
    text-align: center;
    box-shadow: grey 0px 10px 30px;
  }

  .partial {
    width: 50%;
    text-align: center;
  }

  .greeting {
    color: white;
    font-family: "Chelsea Market", cursive;
    margin-top: 5rem;
    animation: fadein 2s;
  }

  .greet-head {
    font-size: 7rem;
  }

  .greet-tail {
    font-size: 4rem;
  }

  nav {
    opacity: 0%;
  }

  .content-block {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 23rem;
    opacity: 1;
  }

  .contact-block {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 12rem;
  }

  .social {
    height: 4rem;
    margin-right: 2rem;
    transition: opacity 0.5s, margin-top 0.5s;
  }

  .social:hover {
    opacity: 30%;
    margin-top: -0.5rem;
  }

  .socials {
    height: 3rem;
  }

  .img-left {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-right: 5rem;
    transition: margin-top 0.5s;
    display: block;
  }

  .img-right {
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-left: 5rem;
    transition: margin-top 0.5s;
  }

  .img-left:hover {
    margin-top: -0.5rem;
  }

  .img-right:hover {
    margin-top: -0.5rem;
  }

  .school {
    margin-top: 1rem;
  }
}
