*{
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    font-family: 'Roboto Mono', monospace;
    width: 100%;
}

.top{
    height: 30rem;
    background-image: url('../images/other-city.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    overflow: visible;
    text-align: center;
    box-shadow: grey 0px 10px 30px;
}

.partial{
    width: 50%;
    text-align: center;
}

.greeting{
    color: white;
    font-family: 'Chelsea Market', cursive;
    margin-top: 5rem;
    animation: fadein 2s;
}

.greet-head{
    font-size: 7rem;
}

.greet-tail{
    font-size: 4rem;
}

nav{
    opacity: 0%;
}

.content-block{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 23rem;
}

.contact-block{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid lightgrey 1px;
    display: flex;
    min-height: 12rem;
}

.social{
    height: 4rem;
    margin-right: 2rem;
    transition: opacity .5s, margin-top .5s;
}

.social:hover{
    opacity: 30%;
    margin-top: -.5rem;
}

.socials{
    /* display: flex; */
    height: 3rem;
}

.img-left{
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-right: 5rem;
    transition: margin-top .5s;
}

.img-right{
    height: 20rem;
    box-shadow: grey 10px 10px;
    margin-left: 5rem;
    transition: margin-top .5s;
}

.img-left:hover{
    margin-top: -1rem;
}

.img-right:hover{
    margin-top: -1rem;
}

.school{
    margin-top: 1rem;
}

@keyframes fadein{
    from {opacity: 30%;}
    to {opacity: 100%;}
    from {margin-top: 4rem;}
    to {margin-top: 5rem;}
}
